svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    width: auto;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
}

.inputGroup {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    width: fit-content;
    border: 0;
    margin: 1rem;
}

button:hover {
    background-color: lightblue;
}

.flexrow {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

tr th,
td {
    padding: 8px;
    text-align: center;
}